* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.4;
  font-size: 0.9rem;
  color: var(--font-color);
}

[data-theme="light"] body {
  --bg-color: #fff;
  --bg-color-light: #f1f1f1; 
  --bg-color-button: #0e0e0e;
  --font-color: #0e0e0e;
  --font-color-button: #fff;
  --highlight-color: #000;
  --border-color: #8080804d;
  --border-color-gold: #FADA5E;
  --card-background-color: #ffffffc7;
}

[data-theme="dark"] body {
  --bg-color: #0e0e0e;
  --bg-color-light: #f1f1f12a; 
  --bg-color-button: #fff;
  --font-color: #f1f1f1;
  --font-color-button: #0e0e0e;
  --highlight-color: #fff;
  --border-color: #8080804d;
  --border-color-gold: #FADA5E;
  --card-background-color: #ffffff04;
}

img {
  max-width: 100%;
  max-height: 300px;
}

ul {
  list-style-type: none;
  margin-left: -20px;
}

li {
  &:hover {
    color: var(--highlight-color);
    font-weight: 600;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
  color: var(--font-color);
}

button {
  border-radius: 0.7rem;
  background-color: var(--bg-color-button);
  color: var(--font-color-button);
  border: 1px solid var(--border-color);
  font-weight: bold;
  padding: 0.5rem;
  opacity: 0.95;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  box-shadow: var(--bg-color-light) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;

  &:hover {
    border: 1px solid var(--highlight-color);
    opacity: 1;
    transform: translateY(-1px);
  }
}

main {
  grid-area: main;
  padding: 1rem 1rem;
}

.wrapper {
  display: grid;
  grid-gap: 0.4rem;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-areas: 
    "main"
    "sidebar";
  @media (min-width: 900px) {
    grid-template-columns: 200px auto;
    grid-template-areas: "sidebar main";
  }
  @media (min-width: 1000px) {
    grid-template-columns: 200px auto;
    grid-template-areas: "sidebar main";
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  z-index: 2;
  display: none;
  position: absolute;
  width: 150px;
  left: -10%;
  bottom: 100%; 
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  border-radius: 0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 150px;
  font-size: 0.8rem;
  background-color: #f1f1f1;
  color: #0e0e0e;
}

.dropdown-content a:hover {
  background-color: #0e0e0e;
  color: #f1f1f1;
  font-weight: 600;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 135px;
  background-color: var(--bg-color-light);
  color: var(--font-color);
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  right: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.skeleton-loading {
  background-color: var(--card-background-color);
  animation: skeleton-loading-animation 1s infinite ease-in-out;
}

.skeleton-card {
  height: 400px;
  width: 240px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(5, 5, 5, 0.24);
  border: 1px solid var(--bg-color-light);
  border-color: var(--bg-color-light);
  background-color: var(--card-background-color);
}

@keyframes skeleton-loading-animation {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.flip-card {
  z-index: 1;
  background-color: transparent;
  width: 200px;
  height: 300px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  @media (max-width: 560px) {
    width: auto;
    height: 300px;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  justify-content: center;
}

.flip-card-front {
  background-color: var(--card-background-color);
  color: var(--font-color);
}

/* Style the back side */
.flip-card-back {
  background-color: var(--card-background-color);
  color: var(--font-color);
  transform: rotateY(180deg);
}

.sidebar-item,
.sidebar-item-active {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  line-height: 2;
  cursor: pointer;
}

.sidebar-item-active {
  @media (min-width: 900px) {
    border-right: 4px solid var(--border-color-gold);
    font-weight: 600;
  }
}
