body {
  color: #001C30;
  background-color: #F1F6F9;
}

[data-theme="dark"] body {
  color: #F1F6F9;
  background-color: #001C30;
}

button {
  border-radius: 8px;
  background-color: #141618;
  color: #F1F6F9;
  border: 1px solid #141618;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: transparent;
    border: 1px solid #141618;
    color: #001C30;
  }

  &:disabled,
  &[disabled] {
    border: 1px solid #141618;
    cursor: not-allowed;
  }

  &:disabled:hover,
  &[disabled]:hover {
    background-color: #141618;
    color: #F1F6F9;
    border: 1px solid #141618;
  }
}

[data-theme="dark"] button {
  background-color: #F1F6F9;
  color: #141618;
  border: 1px solid #F1F6F9;

  &:hover {
    background-color: transparent;
    border: 1px solid #F1F6F9;
    color: #001C30;
  }

  &:disabled,
  &[disabled] {
    border: 1px solid #F1F6F9;
  }

  &:disabled:hover,
  &[disabled]:hover {
    background-color: #F1F6F9;
    color: #141618;
    border: 1px solid #F1F6F9;
  }
}