.card {
  padding: 10px;
  min-height: 250px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(5, 5, 5, 0.24);
  border: 1px solid var(--bg-color-light);
  border-color: var(--bg-color-light);
}

.CardHeader {
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.rank {
  font-size: 1.1rem;
  text-align: left;
  font-weight: 300;
  color: var(--font-color);
}

.cardContent {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
  float: left;
  min-height: 200px;
}

.cardContentCover {
  width: 40%;
}

.cardContentInfo {
  width: 60%;
}

.bookCover {
  object-fit: cover;
}

.title {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--highlight-color);
}

.author {
  margin-top: 0rem;
  opacity: 0.9;
  font-weight: 500;
  color: var(--highlight-color);
}

.description {
  color: var(--font-color);
  opacity: 0.75;
  font-size: 0.8rem;
}

.cardFooter {
}

.cardButton {
  align-items: center;
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
}