.BookListHeader {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-left: 0.5rem;

  @media (max-width: 600px) {
    grid-template-columns: 2fr 1fr;
    margin-left: 0;
  }
}

.BookListHeaderTitleMobile {
  margin-top: 0.1rem;
  font-weight: 600;
  @media (min-width: 900px) {
    display: none;
  }
}

.BookListHeaderSubTitleDesktop {
  @media (max-width: 900px) {
    display: none;
  }
}

.BookListHeaderTitleDesktop {
  margin-top: 0.1rem;
  font-weight: 600;
  @media (max-width: 900px) {
    display: none;
  }
}

.CalendarButton {
  margin-top: 0.8rem;
  
  @media (min-width: 600px) and (max-width: 900px) {
    margin-top: 0;
  }
}