.navbar {
  margin-bottom: 30px;
  border-bottom: 1px solid transparent;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 10px;
}

.navbarLink {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 13px;
  padding-bottom: 11px;
  color: var(--font-color);
  border-bottom: 3px solid transparent;
}

.navbarLinkActive {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 13px;
  padding-bottom: 11px;
  color: var(--highlight-color);
  border-bottom: 3px solid var(--border-color-gold);
  font-weight: 700;
}

.navbarLink:nth-of-type(4),
.navbarLink:nth-of-type(5),
.navbarLink:nth-of-type(6) {
  display: none;
}

@media (min-width: 800px) {
  .navbarLink:nth-of-type(2),
  .navbarLink:nth-of-type(3),
  .navbarLink:nth-of-type(4),
  .navbarLink:nth-of-type(5) {
    display: inline;
  }
}
