.navbar {
  margin-top: 1rem;
  justify-content: flex-start;
  grid-gap: .5rem;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  cursor: pointer;
  @media (min-width: 800px) {
    display: none;
  }
}

.navbarLink {
  display: inline-block;
  padding: 0.2rem;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  color: var(--font-color);
  border-bottom: 3px solid transparent;
  margin-bottom: 0.6rem;
}

.navbarLinkActive {
  display: inline-block;
  padding: 0.2rem;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  color: var(--highlight-color);
  border-bottom: 3px solid var(--border-color-gold);
  font-weight: 700;
  margin-bottom: 0.6rem;
}

