.SidebarItem {
  font-size: 0.8rem;
  margin-top: 0.5rem; 
  line-height: 2;
  cursor: pointer;
}

.SidebarItemActive {
  font-size: 0.8rem;
  margin-top: 0.5rem; 
  line-height: 2;
  cursor: pointer;
  font-weight: 700;
  @media (min-width: 800px) {
    border-right: 4px solid var(--border-color-gold);
  }
}
